version: "3.6"
services:
  mariadb0:
    image: bitnami/mariadb:latest
    container_name: mariadb0
    environment:
      - MARIADB_ROOT_USER=${MARIADB_USER:-base_dev}
      - MARIADB_ROOT_PASSWORD=${MARIADB_PASSWORD:-123456789aA@}
    volumes:
      # persist data files into `datadir` volume managed by docker
      - ./:/var/log/mariadb0
      # bind-mount any sql files that should be run while initializing
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-net
    ports:
      - 3306:3306
    restart: always

  redis-service:
    image: redis:latest
    container_name: redis-service
    command: redis-server --requirepass admindev
    ports:
      - 6379:6379
    networks:
      - app-net
    restart: on-failure

networks:
  app-net:
    name: base-local
